
*
{
    padding: 0;
    margin: 0;
    
}

.container{
    width:100%;
    height:100%;
   
}
/*Card CSS*/


body
{
    background-color: rgba(255, 47, 175, 0.61);
    width:100%;
    height:100%;
    
}
.form-group h5{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-body{
 width:80%;

}   
.card-body h2{
   
    font-family: cursive;
    font-size: 25px;

}

.form-group{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
   

     
}

::placeholder{
    color: white;

}

/*Card1 CSS*/

.card-body1{
    padding: 15px;
    display: block;
    overflow: hidden;
    
    height: 200px;
    
}


.form-control1{
    padding: 20px;
    height: 40px;
    background: transparent;
    color: black;
    width: 80%;
   
}



  .form-group2{
    display: block;
    margin-bottom: 15px;
    
}
.form-group2 label{
    display: block;
 
    font-size: 20px;
    color: black;

margin-top: 10px;

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.form-control2{
    padding: 5px 15px;
  
    background: transparent;

    width: 88%;
}
.form-control{
    padding: 5px 15px;
    height: 30px;
    background: transparent;
    border: 5px white;
  

    width: 88%;
    
}
.form-group1 button{
    margin-left: 150px;
}


.save_btn
{
    background-color:white;
    padding: 5px;
    width:200px;
    border:1px solid black;
    border-radius: 20px;
}


.shift_right
{
    margin-left: 20px;
}

.inpt
{
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    color:white;
    border-radius: 30px 1px 30px 1px;
   
    background-color: rgb(255, 47, 203);


}